body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #fff;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="password"],
button {
  margin: 10px 0px;
  padding: 10px 20px 10px 10px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 3px;
}

a,
b {
  color: #9c88ff;
}

button {
  background-color: #9c88ff;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: hsl(250, 100%, 70%);
}

.footer {
  margin-top: 20px;
  text-align: center;
}
